@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

body{
    overflow: hidden;
}

.img-bg{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

main{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-login{
    width: 37%;
    height: 77%;
    background: rgb(248, 250, 250);;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-login h4{
    color: #2563ea;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom:3rem;
}


.card-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 60%;
}

form input{
    border:none;
    border-bottom: 2px solid #2563ea;
    border-left: 2px solid transparent;
    width: 80%;
    outline: #2563ea;
    transition: all ease 0.3s;
    height: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    font-style: italic;
    color: #4768af;
    font-weight: 500;
}

form input:focus{
    border-left: 3px solid #2563ea;
    border-bottom: 3px solid #2563ea;
}

form input::placeholder{
    color:#a8c4ff ;
}

#textEstilized{
    color: #fff;
    margin-top: -220px;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: overline;
}

form .wrp-btn{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form .wrp-btn button{
    margin-right: 3rem;
    width: 5rem;
    height: 2rem;
    background-color: #2563ea;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

form .wrp-btn button:hover{
    height: 2.3rem;
    width:5.4rem;
}


.box-cadaster{
    width: 70%;
    height: 70%;
    background-color: rgb(248, 250, 250);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cadastroProfissional{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cadastroProfissional h1{
    color: #fff;
}

.cadastroProfissional .wrpText{
    width: 100%;
    display: flex;
    height: auto;
    margin-left:30%;
    margin-bottom: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.register{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 13px;
}

.register .form-field{
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid  #2563ea;
    width: 100%;
    margin-top: 7px;
    height: 3rem;
}

.register label{
    width: 27%;
    font-size: 1.5rem;
    font-weight: 500;
    color:  #0d41b1;
}

.form-field input{
    border: none;
    color:  #132753;
}

.form-field input[type=date]{
    max-width: 12rem;
}

.form-field input:focus{
    border: none;
}